<!DOCTYPE html>
<html ng-app="myModule">
<head>
<meta charset="ISO-8859-1">
<title>ex11.html</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<script src="js/angular.js"></script>
<script src="js/sc11.js"></script>
</head>
<body class="container">
	<div ng-controller="myController">
		<h2>Filtering Example</h2>
		<p>Filters can do three different things: (1) Format, (2) Sort and (3) Filter data. In this example I explain about search in filter.</p>
		<hr />
		Search: <input type="text" placeholder="Type Here" ng-model="searchText"/><br/><br/>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date Of Birth</th>
					<th>Gender</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees | filter:searchText">
					<td>{{employee.name}}</td>
					<td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
					<td>{{employee.gender}}</td>
					<td>{{employee.salary | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr />
	<a href="index.html">Home Page</a>
</body>
</html>