<!DOCTYPE html>
<html ng-app="myModule">
<head>
<meta charset="ISO-8859-1">
<title>ex5.html</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
<script src="js/angular.js"></script>
<script src="js/sc5.js"></script>
</head>
<body class="container">
	<h2>Working with two way binding</h2><hr/>
	<div ng-controller="myController">
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<td>Fisrt Name</td>
				<td><input type="text" ng-model="employee.firstName"/></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" ng-model="employee.lastName"/></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td><input type="text" ng-model="employee.gender"/></td>
			</tr>
		</table>
		<br/>
		<h2>Result of two way binding</h2><hr/>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<td>First Name</td>
				<td>{{employee.firstName}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>{{employee.lastName}}</td>
			</tr>
			<tr>
				<td>Gender</td>
				<td>{{employee.gender}}</td>
			</tr>
		</table>
	</div><hr/>
	<a href="index.html">Home Page</a>
</body>
</html>